    /* import de variaveis */
@import url("styles.CSS");


.category-container {
    display: flex;   
         
    }

.category {
    padding: 0 20px;
    margin-right: 20px;
    background-color:var(--dsc-color-bg-tertiary);
    color:var(--dsc-color-font-tertiary);
     /* arredondando bordas*/
    border-radius: 4px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    

}



.product-details-top {

    padding: 10px;
  /*alinhando imagem ao centro  com display e justify*/
    display: flex;
    justify-content: center;

}


.product-details-top img {
    /* largura da imagem */
     width: 220 px;
 
 }
 .product-details-top-botton{
 padding: 10px 20px 20px 20px;
 
 }
 .product-details-top-bottom h3 {
     color: var(--dsc-color-font-secondary);
     font-size: 20px;
 }
 
 .product-details-top-bottom h4 {
     color:var(--dsc-color-font-primary);
     font-size: 12px;
 }
 .product-details-top p {
 color:var(--dsc-color-font-primary);
 font-size: 12px;
 margin: 10px 0;
 
 }